/* Colour vars */
:root {
    --light-yellow: #F1DA0F;
    --yellow: #F1C40F;
    --dark-yellow: #C7A006;

    --black: #000000;
    --white: var(--bs-white);

    --light-background: #40444B;
    --background: #36393F;
    --dark-background: #2F3136;
}

/* Scrollbar styling */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: var(--dark-background);
}
::-webkit-scrollbar-thumb {
  background: var(--yellow);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--dark-yellow);
}

body {
    background-color: var(--background);
    color: var(--white);

    scrollbar-width: thick;
    scrollbar-color: var(--light-yellow) var(--dark-background);
}

/* Boostrap navbars */
.navbar {
    background: var(--yellow);
    color: var(--black)
}

/* Boostrap jumbotrons */
.jumbotron {
    background: var(--yellow);
    color: var(--black)
}

/* Boostrap buttons */
.btn {
    background-color: var(--light-background);
    color: var(--white)
}

/* Boostrap forms */
.form-control {
    background: var(--light-background);
    color: var(--white);
    border: 1px solid var(--dark-background);
    transition: background 0.3s;
}

.form-control:active,
.form-control:focus,
.form-control:focus:active {
    background: var(--dark-background);
    color: var(--white);
    border: 1px solid var(--dark-background);
    transition: background 0.3s;
}

/* Boostrap cards */
.card {
    background: var(--light-background);
    color: var(--white)
}

/* Boostrap progress bars */
.progress {
    background: var(--dark-background);
    color: var(--white);

}
.progress-bar {
    background: var(--yellow);
    color: var(--white);
}

