:root {
    --bg-yellow: rgb(241, 196, 15);
    --bg-white: var(--bs-white);

    --bg-black: #000000;
    --bg-light_black: #202225;

    --bg-gray: #36393f;
}

body {
    background-color: var(--bg-gray);
    color: var(--bg-white)
}

.jumbotron {
    background: var(--bg-yellow);
    color: var(--bg-black)
}

.navbar {
    background: var(--bg-yellow);
    color: var(--bg-black)
}

.btn {
    background-color: var(--bg-light_black);
}

.form-control,
.form-control:active,
.form-control:focus,
.form-control:focus:active {
    background: var(--bg-light_black);
    color: var(--bg-white);
    border: none;
}

.card {
    background: var(--bg-light_black);
    color: var(--bg-white)
}

.progress {
    background: var(--bg-gray);
}

.progress-bar {
    background: var(--bg-yellow);
    transition: width 2s;
    transition-timing-function: linear;
}

