.bg-yellow {
    background: rgb(241, 196, 15);
}

.bg-white {
    background: rgb(248, 249, 250);
}

.bg-black {
    background: #000000;
}

.bg-lblack {
    background: #36393f;
}

.bg-gray {
    background: #2f3136;
}

.progress-bar {
    transition: width 2s;
    transition-timing-function: linear;
}
