[tool.pyright]
include = ["bot"]
exclude = []
ignore = []
strict = []
venvPath = "venv"
pythonVersion = "3.10"
useLibraryCodeForTypes = true
strictListInference = true
strictDictionaryInference = true
strictSetInference = true
strictParameterNoneValue = true
enableTypeIgnoreComments = true
reportGeneralTypeIssues = "error"
reportPropertyTypeMismatch = "error"
reportFunctionMemberAccess = "none"
reportMissingImports = "none"
reportMissingModuleSource = "warning"
reportMissingTypeStubs = "none"
reportImportCycles = "none"
reportUnusedImport = "none"
reportUnusedClass = "error"
reportUnusedFunction = "error"
reportUnusedVariable = "error"
reportDuplicateImport = "error"
reportWildcardImportFromLibrary = "warning"
reportOptionalSubscript = "error"
reportOptionalMemberAccess = "none"
reportOptionalCall = "error"
reportOptionalIterable = "error"
reportOptionalContextManager = "error"
reportOptionalOperand = "error"
reportTypedDictNotRequiredAccess = "error"
reportUntypedFunctionDecorator = "none"
reportUntypedClassDecorator = "error"
reportUntypedBaseClass = "none"
reportUntypedNamedTuple = "error"
reportPrivateUsage = "none"
reportConstantRedefinition = "error"
reportIncompatibleMethodOverride = "error"
reportIncompatibleVariableOverride = "error"
reportOverlappingOverload = "error"
reportInvalidStringEscapeSequence = "error"
reportUnknownParameterType = "none"
reportUnknownArgumentType = "none"
reportUnknownLambdaType = "none"
reportUnknownVariableType = "none"
reportUnknownMemberType = "none"
reportMissingTypeArgument = "error"
reportInvalidTypeVarUse = "error"
reportCallInDefaultInitializer = "error"
reportUnnecessaryIsInstance = "error"
reportUnnecessaryCast = "error"
reportUnnecessaryComparison = "error"
reportAssertAlwaysTrue = "error"
reportSelfClsParameterName = "error"
reportImplicitStringConcatenation = "none"
reportUndefinedVariable = "error"
reportUnboundVariable = "error"
reportInvalidStubStatement = "error"
reportIncompleteStub = "error"
reportUnsupportedDunderAll = "error"
reportUnusedCallResult = "none"
reportPrivateImportUsage = "none"
reportUnusedCoroutine = "error"
executionEnvironments = [
    { root = "code" },
]

[tool.isort]
line_length = 120
multi_line_output = 3
lines_after_imports = 2
combine_star = true
include_trailing_comma = true
star_first = true
known_local_folder=["core", "extensions", "utilities"]
import_heading_future = "Future"
import_heading_stdlib = "Standard Library"
import_heading_thirdparty = "Packages"
import_heading_firstparty="My stuff"
import_heading_localfolder="My stuff"
