aiodns>=3.0.0
aiohttp>=3.7.4post0
aioredis>=2.0.0
aioscheduler>=1.4.2
git+https://github.com/Axelancerr/aiospotify/
async_timeout>=3.0.1
asyncpg>=0.24.0
beautifulsoup4>=4.10.0
cchardet>=2.1.7
colorthief>=0.2.1
dateparser>=1.0.0
git+https://github.com/Ext-Creators/discord-ext-alternatives/@2987112c31de9bada4ee95cee9007a326e496e19
discord-ext-ipc>=2.1.1
git+https://github.com/Rapptz/discord.py/
humanize>=3.12.0
jishaku>=2.3.0
mystbin.py>=2.1.3
pendulum>=2.1.2
pillow>=8.3.2
psutil>=5.8.0
pynacl>=1.4.0
rapidfuzz>=1.7.1
setproctitle>=1.2.2
setuptools>=58.2.0
git+https://github.com/Axelancerr/Slate/
topggpy>=1.3.0
wand>=0.6.7
wheel>=0.37.0
yarl>=1.6.3
