aiodns>=2.0.0
aiohttp>=3.7.4
aredis>=1.1.8
aioscheduler>=1.4.2
async-timeout>=3.0.1
asyncpg>=0.22.0
cchardet>=2.1.7
dateparser>=1.0.0
git+git://github.com/Axelancerr/discord-ext-alternatives.git#egg=discord-ext-alternatives
git+git://github.com/Rapptz/discord.py#egg=discord.py
humanize>=3.2.0
git+git://github.com/Gorialis/jishaku#egg=jishaku
git+git://github.com/Axelancerr/ksoftapi.py.git#egg=ksoftapi
mystbin.py>=1.0.1
pendulum>=2.1.2
pillow>=8.1.2
psutil>=5.8.0
pynacl>=1.4.0
rapidfuzz>=1.0.2
setproctitle>=1.2.2
git+git://github.com/Axelancerr/spotify.py.git#egg=spotify
git+git://github.com/Axelancerr/Slate#egg=slate
wand>=0.6.6
yarl>=1.6.3
beautifulsoup4>=4.9.3
soupsieve>=2.2
