aredis>=1.1.8
asyncpg>=0.21.0
aiohttp>=3.7.3
humanize>=3.2.0
psutil>=5.7.3
wand>=0.6.5
pendulum>=2.1.2
pillow>=8.0.1
pynacl>=1.4.0
mystbin.py>=1.0.1
rapidfuzz>=0.14.1
aioscheduler>=1.4.2
yarl>=1.6.3
dateparser>=1.0.0

git+git://github.com/Axelancerr/discord-ext-alternatives.git#egg=discord-ext-alternatives
git+git://github.com/Axelancerr/ksoftapi.py.git#egg=ksoftapi
git+git://github.com/Axelancerr/spotify.py.git#egg=spotify

git+git://github.com/ShineyDev/prettify.py#egg=prettify.py

git+git://github.com/Rapptz/discord.py#egg=discord.py
git+git://github.com/Gorialis/jishaku#egg=jishaku

git+git://github.com/petrutlucian94/py-setproctitle#egg=setproctitle
