<!DOCTYPE html>
<html lang="en">

    <head>
        <!-- Page config -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="Description" content="A web dashboard for the Life discord bot.">
        <title>Life - Dashboard</title>
        <!-- Favicon stuff -->
        <link rel="apple-touch-icon" sizes="180x180" href="{{ static_url('resources/apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ static_url('resources/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ static_url('resources/favicon-16x16.png') }}">
        <link rel="manifest" href="{{ static_url('resources/site.webmanifest') }}">
        <link rel="mask-icon" href="{{ static_url('resources/safari-pinned-tab.svg') }}" color="#f1c40f">
        <link rel="shortcut icon" href="{{ static_url('resources/favicon.ico') }}">
        <meta name="msapplication-TileColor" content="#f1c40f">
        <meta name="msapplication-config" content="{{ static_url('resources/browserconfig.xml') }}">
        <meta name="theme-color" content="#f1c40f">
        <!-- CSS links -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ static_url('index.css') }}">
        <!-- Javascript links -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
    </head>

    <body class="bg-black text-light">

        <nav class="navbar navbar-expand-md bg-yellow text-dark">
            <div class="container-fluid">
                <a class="navbar-brand"><img class="img-fluid" src="{{ static_url('resources/LifeBlack50x26.png') }}" alt="Life"></a>
                <button class="navbar-toggler btn btn-lg bg-black" type="button" data-toggle="collapse" data-target="#NavBar" aria-controls="NavBar" aria-expanded="false" aria-label="Toggle navbar"></button>
                <div class="collapse navbar-collapse justify-content-end" id="NavBar">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a class="nav-link text-dark" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link text-dark" href="{{ bot.source_url }}">Github</a></li>
                        <li class="nav-item"><a class="nav-link text-dark" href="{{ bot.support_url }}">Support server</a></li>
                        {% if user is not None %}
                            <li class="nav-item"><a class="nav-link text-dark" href="/dashboard">Logged in as {{ user.name }}</a></li>
                        {% else %}
                            <li class="nav-item"><a class="nav-link text-dark" href="/login">Login</a></li>
                        {% end %}
                    </ul>
                </div>
            </div>
        </nav>

        <div class="jumbotron jumbotron-fluid bg-yellow p-3">
            <div class="container-fluid text-center text-dark">
                <img class="img-fluid p-3" src="{{ static_url('resources/LifeBlack500x261.png') }}" alt="Life" style="width: 350px;">
                <h5>Life is a discord bot coded by MrRandom#9258 that can see {{ len(bot.guilds) }} servers and a total of {{ len(bot.users) }} unique users.</h5>
            </div>
        </div>

    </body>

</html>

